* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
  width: 100%;
}

.section_1 {
  background-image: url(../assets/background-image\ 18.42.02\ 18.42.02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.main_1 .main_1_logo img {
  width: 63px;
}
.main_1 .h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #fff;
  padding: 20px;
}
.main_1 .h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  padding: 60px;
}

.main_1_logo img {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  z-index: 2;
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}
.nav_bar input[type=checkbox] {
  display: none;
}
.nav_bar__heading {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.nav_bar .toggle_01 {
  order: 3;
}
.nav_bar .nav__menu_all {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-family: normal;
  order: 2;
}
.nav_bar .nav__menu_all a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.2em;
  padding: 6px;
  margin: 0px 30px;
  transition: 0.3s;
  cursor: pointer;
}
.nav_bar .nav__menu_all #about {
  border-bottom: 3px solid #fff;
}
.nav_bar .nav__menu_all #about:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
.nav_bar .nav__menu-item_each:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
.nav_bar .nav__menu-item-item__stories:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
.nav_bar .nav__menu-item-item__contact:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

.section_2 {
  background-color: #fff;
}

.main_2 {
  padding: 60px 0px;
}
.main_2 .center_1 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}
.main_2 .center_2 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
  padding: 20px;
}
.main_2_text {
  display: flex;
}
.main_2_text p {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #666666;
  padding: 50px;
}

.explore {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 40px;
  transition: 0.3s;
  cursor: pointer;
}
.explore:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
.explore .explore2 {
  border-radius: 30px;
  background-color: #55C2D8;
  color: #fff;
  width: 115px;
  height: 36px;
  border: 0;
}
.section_3 {
  background-image: url(../assets/13.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section_3 .main_3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0px;
}
.section_3 .center_3 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #fff;
  padding: 30px;
}
.section_3 .play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  background-color: #55C2D8;
  transition: 0.3s;
  cursor: pointer;
}
.section_3 .play img {
  transform: translateX(5px);
}
.section_3 .play:hover {
  transform: scale(1.1) rotate(360deg);
  filter: grayscale(0);
}
.section_3 .center_4 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  margin-top: 30px;
}

footer {
  background-color: #464547;
}
footer .nav_footer {
  display: flex;
  align-items: flex-end;
  padding: 50px 0px;
  justify-content: space-between;
}
footer .nav_footer_left {
  display: flex;
  align-items: flex-start;
}
footer .nav_footer_left_logo {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}
footer .nav_footer_left .logo img {
  width: 20px;
}
footer .nav_footer_left_logo__heading {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fff;
  padding-left: 10px;
}
footer .nav_footer_left_address {
  padding: 0px 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  transition: 0.3s;
  cursor: pointer;
}
footer .nav_footer_left_address a {
  color: rgba(255, 255, 255, 0.4);
}
footer .nav_footer_left_address:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
footer .nav_footer_right {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .nav_bar .toggle_01 {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    z-index: 10;
    cursor: pointer;
  }
  .nav_bar .toggle_01 .bar {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
  }
  .nav_bar input[type=checkbox]:checked ~ .nav .nav__menu_all {
    display: block;
  }
  .nav_bar .nav__menu_all {
    display: none;
    position: absolute;
    background-color: gray;
    right: 0;
    top: 0;
    padding: 50px 10px;
    height: 100vh;
  }
  .nav_bar .nav__menu-item_each {
    padding: 5px;
  }
  .nav_bar .nav__menu-item__stories {
    padding: 10px;
  }
  .nav_bar .nav__menu_all #about {
    padding: 5px;
  }
  .nav_bar .nav__menu-item__contact {
    padding: 5px;
  }
}
@media screen and (max-width: 768px) {
  .main_02_text {
    flex-direction: column;
  }
  .main_02_text p {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
  footer .nav_footer {
    flex-direction: column;
    align-items: center;
  }
  footer .nav_footer_left {
    flex-direction: column;
    padding: 10px 0px;
  }
  footer .nav_footer_left_logo {
    padding: 10px 10px;
  }
  footer .nav_footer_left_address {
    text-align: center;
  }
}